@{
    ViewBag.Title = "Inicio";
}



<div class="jumbotron">
    
    <h1>AIRCRAF</h1>

    <p class="lead">The first step of your trip starts today</p>
    
   
    
   
    
</div>

<div class="row">
    <div class="col-md-4">
        <img class="img-responsive img-circle" src="~/Content/img/avion6.png" />
        <h2>Longer security lines expected this summer</h2>
        
        <p>
            
            The TSA recommends arriving at the airport 2 hours before your flight (3 hours for international). If you travel often, save time by enrolling in TSA PreCheck. 

        </p>
        <p>.</p>
       
    </div>
    <div class="col-md-4">
        <img class="img-responsive img-circle" src="~/Content/img/avion4.png" />
        <h2>ONLY IN BRAZIL</h2>
        <p>Explore the rainforest, the ocean, and the city, in one day.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Aerolineas")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="img-responsive img-circle" src="~/Content/img/avion5.png" />
        <h2>NEW DESTINATIONS</h2>
        <p>Give double bonus miles to any destination.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Aerolineas")>Learn more &raquo;</a></p>
    </div>
</div>
