@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Promotion";
}

<div class="jumbotron">

    <h1>AIRCRAF</h1>

    <p class="lead">The first step of your trip starts today</p>

    <p><a href="@Url.Action( "Promotion", "Shared")">Learn more &raquo;</a></p>



</div>

